<%- contentFor('content') %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <% for (var i=0; i<data.posts.length; i++) { %>
        <div class="post-preview">
            <a href="/posts/<%= data.posts[i].getId() %>"> 
              <h2 class="post-title"><%= data.posts[i].getTitle() %> </h2>
            </a>
          <h3 class="post-subtitle font-300">
            <%= data.posts[i].getDescription() %>
          </h3>
          <p class="post-meta">Posted by
            <span class="font-bold">Admin</span>
            on <%= data.posts[i].getCreatedAt() %></p>
        </div>
        <hr>
      <% } %>

    </div>
  </div>
</div>